<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <div class="form">
        <h2>Register</h2>
        <form action="/home" method="post">
            <label for="age">Your email : </label>
            <input type="text" name="email" id="age" placeholder="Enter age" value=<%=email%>>
            <br><br>

            <label for="age">Enter Age : </label>
            <input type="number" name="age" id="age" placeholder="Enter age">
            <br><br>

            <label for="location">Enter Location : </label>
            <input type="text" name="location" id="location" placeholder="Enter your location">
            <br><br>

            <label for="details">Enter Work details : </label>
            <textarea name="details" id="details" cols="30" rows="10" placeholder="Enter your work details: "></textarea>
            <br><br>
            <button>Register</button>
        </form>
    </div>
</body>

</html>