<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logIn</title>
</head>

<body>
    <div class="form">
        <h2>LogIn</h2>
        <form action="/login" method="post">
            <label for="email">Enter email : </label>
            <input type="text" name="email" id="email" placeholder="Enter your email">
            <br><br>

            <label for="password">Enter password : </label>
            <input type="password" name="password" id="password" placeholder="Enter password">
            <br><br>

            <button>Login</button>
        </form>

        <p>Not registered? <a href="/register">Register</a> </p>
    </div>
</body>

</html>