<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%=newUser.email%> <br/><br/>
        <%=newUser.age%> <br/><br/>
            <%=newUser.password%> <br/><br/>
                <%=newUser.location%> <br/><br/>
</body>

</html>